


 header{
    position: relative;
    width: 438px;
    height: 51px;
    left: 550px;
    top: 100px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}





#email{
    
    box-sizing: border-box;

    position: absolute;
    width: 440px;
    height: 50px;
    left: 501px;
    top: 200px;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
}
#senha{
    box-sizing: border-box;

    position: absolute;
    width: 440px;
    height: 50px;
    left: 499px;
    top: 290px;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
} 

#entrar {
    width: 450px;
    height: 50px;
    left: 800px;
    top: 655px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    
    color: #FFFFFF;
}

.botao{
    position: absolute;
    
    width: 439px;
    height: 57px;
    left: 501px;
    top: 400px;

    background: #0433FF;
    }

h1{
    position: absolute;
    width: 357px;
    height: 24px;
    left: 530px;
    top: 845px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.esqueceu{
    
position: absolute;
width: 110px;
height: 15px;
left: 831px;
top: 460px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: #7B7B7B;
}

.novo{
    position: absolute;
    width: 357px;
    height: 24px;
    left: 530px;
    top: 700px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;   
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}